@model TauxAlerte
@{
    ViewData["Title"] = "Update alert limit";
}
<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Update form</h5>
                <small class="text-muted float-end">Limit alert</small>
            </div>
            <div class="card-body">
                <form asp-action="Update" method="post">
                    <div class="mb-3">
                        <label class="form-label" for="date"></label>
                        <input type="date"asp-validation-for="Amount"  class="form-control" id="date" asp-for="Amount" step="0.01" required />
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label" for="amount"></label>
                        <input type="number" asp-validation-for="DateTaux" class="form-control" id="amount" asp-for="DateTaux" placeholder="New rate" required/>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <div class="alert alert-danger alert-dismissible" asp-validation-summary="ModelOnly" role="alert"></div>
                </form>
            </div>
        </div>
    </div>
</div>
